<button
  type='button'
  onclick={{fn this.tweet @score}}
  class='flex-0 bg-yellow-500 m-1 appearance-none border-2 flex items-center py-6 px-10 rounded-lg border-t-0 border-r-0 border-l-0 text-gray-800 font-bold border-yellow-700 active:border-b-0 active:border-t-2 hover:bg-yellow-600 transition-colors duration-200 ease-in-out'
>
  <FaIcon @icon={{this.twitterIcon}} class='-ml-2 text-lg mr-2' />
  <span class='-mb-1 text-slate-800'>

    Share your score on Twitter
  </span>
</button>