<div class='flex justify-center px-2'>
  <div class='grid grid-cols-2 gap-1 lg:gap-2 max-w-xxl relatief'>
    {{#each @answers as |answer|}}
      <Button @onClick={{fn @onSelect answer}} @disabled={{@answerGiven}}>
        {{answer.iconName}}
      </Button>
    {{/each}}
  </div>
</div>