<div
  class='flex items-center fixed h-[calc(100vh_-_4rem)] left-0 right-0 justify-center text-white'
>
  <div class='p-10'>
    All credits and copyright belongs to their respective owners. The icons used
    in this game are from
    <a
      class='underline text-yellow-400 hover:text-yellow-800'
      href='https://fontawesome.com/'
    >Font Awesome</a>.
    <br />
    This game is open source and can be found on
    <a
      class='underline text-yellow-400 hover:text-yellow-800'
      href='https://github.com/tdwesten/name-that-icon'
    >GitHub</a>. And it's build by
    <a
      class='underline text-yellow-400 hover:text-yellow-800'
      href='https://twitter.com/tdwesten'
    >Thomas van der Westen</a>.
  </div>
</div>